html {
    font-size: 10px;
}
body {
    background-color: #FDEAA8;
}
.slider-container {
    width: calc(100% - 40px);
    max-width: 57rem;
    overflow: hidden;
    margin: 0 auto;
}
.slider {
    width: 500%;
    padding: 3rem 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    transition: margin-left 0.4s;
}
img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 2rem;
}
img:first-child {
    height: 604px;
}
.slide {
    background-color: #45433B;
    border-radius: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.control-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.control__text-container {
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    overflow: hidden;
}
.meme {
    width: 100%;
    flex-shrink:0;
}
.control__text {
    width: 100%;
    transition: margin-left 0.4s;
    display: flex;
}
.control__labels {
    display: flex;
}
input {
    display: none;
}
label {
    display: flex;
    width: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
    height: 1.5rem;
    border: 2px solid #1560BD;
    border-radius: 50%;
    background-color: #FDEAA8;
}
label:before {
    content: '';
    width: 3.5rem;
    height: 3.5rem;
    margin: -1rem;
}
label:hover {
    border-color: black;
}
label:active {
    background-color: green;
}
#dot1:checked ~ .slider-container .slider {
    margin-left: 0;
}
#dot2:checked ~ .slider-container .slider {
    margin-left: -100%;
}
#dot3:checked ~ .slider-container .slider {
    margin-left: -200%;
}
#dot4:checked ~ .slider-container .slider {
    margin-left: -300%;
}
#dot5:checked ~ .slider-container .slider {
    margin-left: -400%;
}
#dot1:checked ~ .slider-container .control-container .control__text-container .control__text {
    margin-left: 0;
}
#dot2:checked ~ .slider-container .control-container .control__text-container .control__text {
    margin-left: -100%;
}
#dot3:checked ~ .slider-container .control-container .control__text-container .control__text {
    margin-left: -200%;
}
#dot4:checked ~ .slider-container .control-container .control__text-container .control__text {
    margin-left: -300%;
}
#dot5:checked ~ .slider-container .control-container .control__text-container .control__text {
    margin-left: -400%;
}
#dot1:checked ~ .slider-container .control-container .control__labels label:first-child {
    background-color: #1560BD;
}
#dot1:checked ~ .slider-container .control-container .control__labels label:first-child:hover {
    background-color: green;
    border: none;
}
#dot2:checked ~ .slider-container .control-container .control__labels label:nth-child(2) {
    background-color: #1560BD;
}
#dot2:checked ~ .slider-container .control-container .control__labels label:nth-child(2):hover {
    background-color: green;
    border: none;
}

#dot3:checked ~ .slider-container .control-container .control__labels label:nth-child(3) {
    background-color: #1560BD;
}
#dot3:checked ~ .slider-container .control-container .control__labels label:nth-child(3):hover {
    background-color: green;
    border: none;
}
#dot4:checked ~ .slider-container .control-container .control__labels label:nth-child(4) {
    background-color: #1560BD;
}
#dot4:checked ~ .slider-container .control-container .control__labels label:nth-child(4):hover {
    background-color: green;
    border: none;
}
#dot5:checked ~ .slider-container .control-container .control__labels label:last-child {
    background-color: #1560BD;
}
#dot5:checked ~ .slider-container .control-container .control__labels label:nth-child(5):hover {
    background-color: green;
    border: none;
}
@media screen and (max-width: 600px) {
    .control-container {
        flex-direction: column;
        gap: 3rem;
    }
    .control__labels {
        justify-content: center;
        order: -1;
    }
    .control__text-container {
        width: 100%;
    }
    img:first-child {
        height: auto;
    }
}